src/funman.egg-info/dependency_links.txt
src/funman.egg-info/not-zip-safe
src/funman.egg-info/PKG-INFO
src/funman.egg-info/requires.txt
src/funman.egg-info/SOURCES.txt
src/funman.egg-info/top_level.txt
