**/*.egg-info/**
**/__pycache__/**
**/*.pyc

Pipfile.lock

*.json
!resources/**/*.json

dist/
dist.bkp/

.docker-as-root

# locally stored virtual envionment defined by pipenv
.venv/

# local solvers from the virtual environment's pysmt-install
.smt-solvers/

# docs
# for now exclude these since they are generated
docs/source/*.rst
!docs/source/index.rst
!docs/source/packages.rst
!docs/source/use_cases.rst
!docs/source/classes.rst

docs/source/_static/classes.dot
docs/source/_static/packages.dot

################################################################
# The following is based on:
# https://github.com/github/gitignore/blob/main/Python.gitignore
################################################################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.synctex.gz
**/*.smt2.stdout
test/smtlib/out
test/out
.docker_venv
notebooks/*png
funman-api-client
.vscode
www/.nojekyll
www/classes.html
www/funman.api.html
www/funman.html
www/funman.model.html
www/funman.representation.html
www/funman.scenario.html
www/funman.search.html
www/funman.translate.html
www/funman.utils.html
www/genindex.html
www/index.html
www/objects.inv
www/packages.html
www/py-modindex.html
www/search.html
www/searchindex.js
www/use_cases.html
www/_images/graphviz-4ff97113e508a5106583f62bc6fa08948b8a07da.svg
www/_images/graphviz-8147ce60e32f959db98ca0275f4a150ee24caf1e.svg
www/_images/inheritance-2a4c6e21b446cc837f5baf7e462a312341aa6db1.svg
www/_images/inheritance-8a6109a46dedb8296a12aac530669ae0145b9375.svg
www/_images/inheritance-8edab42a2377f0711539a903e85ab7c1ffe96ad2.svg
www/_images/inheritance-64d2415c44b6363c9d7e444ca1d1056f327d0f7e.svg
www/_images/inheritance-69e36a8a9a2529155ba76ec3c1b036d27d3b96cd.svg
www/_images/inheritance-140ec4240c176a4485bee751a5373a245d76a7d1.svg
www/_images/inheritance-182a9de8c7a6d2d7a6ed79dcad3d405561023fdf.svg
www/_images/inheritance-0774d98dec7c8bc622b138649cbd183dbe1d34fd.svg
www/_images/inheritance-2663a7deb9850fe08d3d10f07d0a9d2ac4a38241.svg
www/_images/inheritance-3804f85a70dc5eb645ba07796c7676e94309ad1a.svg
www/_images/inheritance-6111f834feceee717775b9e2340827e4518a3ee5.svg
www/_images/inheritance-62428fd130fba6a63b6eeda888fdff6a368020fa.svg
www/_images/inheritance-c9be85b803dc8acd9a0bce5fae078d178c4273f4.svg
www/_images/inheritance-cadd822ef3c7497fffb1cded5286db194933e261.svg
www/_images/inheritance-d7a971e3bfad2476987ec5c8a6180b590528a881.svg
www/_images/inheritance-dafeeda269b0f9f3bd4776e36343fc954d13325e.svg
www/_images/inheritance-e0dedf93bfd4ca3f5dfd3ce0dbc53dd6d2f724b3.svg
www/_images/inheritance-e4fa7ced0525608238d13d09f3abf90eacc0e984.svg
www/_images/inheritance-edc6633baa201b5da54631904ad494465aea31f8.svg
www/_images/inheritance-eee645a06b43936bec5d180863956298e4b2d37f.svg
www/_images/inheritance-f015ce8fe74696da752277ec2dfca72d0c277714.svg
www/_images/inheritance-f27d6b799b54ef5f101f879690c778031da62560.svg
www/_sources/classes.rst.txt
www/_sources/funman.api.rst.txt
www/_sources/funman.model.rst.txt
www/_sources/funman.representation.rst.txt
www/_sources/funman.rst.txt
www/_sources/funman.scenario.rst.txt
www/_sources/funman.search.rst.txt
www/_sources/funman.translate.rst.txt
www/_sources/funman.utils.rst.txt
www/_sources/index.rst.txt
www/_sources/packages.rst.txt
www/_sources/use_cases.rst.txt
www/_static/_sphinx_javascript_frameworks_compat.js
www/_static/autodoc_pydantic.css
www/_static/basic.css
www/_static/classes.dot
www/_static/doctools.js
www/_static/documentation_options.js
www/_static/file.png
www/_static/graphviz.css
www/_static/jquery-3.6.0.js
www/_static/jquery.js
www/_static/language_data.js
www/_static/minus.png
www/_static/packages.dot
www/_static/plus.png
www/_static/pygments.css
www/_static/searchtools.js
www/_static/sphinx_highlight.js
www/_static/underscore-1.13.1.js
www/_static/underscore.js
www/_static/css/badge_only.css
www/_static/css/theme.css
www/_static/css/fonts/fontawesome-webfont.eot
www/_static/css/fonts/fontawesome-webfont.svg
www/_static/css/fonts/fontawesome-webfont.ttf
www/_static/css/fonts/fontawesome-webfont.woff
www/_static/css/fonts/fontawesome-webfont.woff2
www/_static/css/fonts/lato-bold-italic.woff
www/_static/css/fonts/lato-bold-italic.woff2
www/_static/css/fonts/lato-bold.woff
www/_static/css/fonts/lato-bold.woff2
www/_static/css/fonts/lato-normal-italic.woff
www/_static/css/fonts/lato-normal-italic.woff2
www/_static/css/fonts/lato-normal.woff
www/_static/css/fonts/lato-normal.woff2
www/_static/css/fonts/Roboto-Slab-Bold.woff
www/_static/css/fonts/Roboto-Slab-Bold.woff2
www/_static/css/fonts/Roboto-Slab-Regular.woff
www/_static/css/fonts/Roboto-Slab-Regular.woff2
www/_static/js/badge_only.js
www/_static/js/html5shiv-printshiv.min.js
www/_static/js/html5shiv.min.js
www/_static/js/theme.js
artifacts/.DS_Store
scratch/funman.code-workspace
**/*.gv*
./box_search.*
./*.smt2
gmon.out
*.png
*.smt2
funman.code-workspace
root.code-workspace
