[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
funman = {editable = true, path = "."}
model2smtlib = {editable = true, path = "./../model2smtlib"}
automates = {editable = true, ref = "4562cb8ce409093cdc1ea4318472ed9cb5777dfa", git = "https://github.com/danbryce/automates.git"}

[dev-packages]
pytest = "==7.1.2"

[requires]
python_version = "3.9"
